:root {
  --textColor: #f0e6d2;
  --buttonColor: #c8aa6e;
  --buttonHoverColor: #d3bb8b;
  --borderColor: #FFF;
  --darkTextColor: #000;
  --animationColor: #c8aa6e;
}

@font-face {
  font-family: League;
  src: url(/font/League.otf);
}

* {
  font-family: League, sans-serif;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#091428, #0a1428);
  margin: 0;
  padding: 0;
  color: var(--textColor);
  height: 100vh;
  min-height: 800px;
  width: 100vw;
}

header {
  width: 100%;
  height: 250px;
  margin: 0 auto;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 10px;
}

.random-champion-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: var(--darkTextColor);
  background-color: var(--buttonColor);
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 50px;
  outline: var(--borderColor) solid 1px;
  outline-offset: 3px;
  font-weight: 400;
  transition: color 0.25s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.1s ease-in-out;
  border: 0;
}

.random-champion-btn:active {
  transform: scale(0.9);
}

.random-champion-btn:hover {
  background-color: var(--buttonHoverColor);
  cursor: pointer;
  color: var(--textColor);
}

.champion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  margin: 0 auto;
}

figure {
  width: 100%;
  max-width: 200px;
  height: 200px;
  margin: 0 auto;
  animation-name: animate;
  animation-duration: 2s;
  
}

@keyframes animate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: pulsate 8s ease-in-out infinite;

}

@keyframes pulsate {
  0% {
    box-shadow: 0px 0px 20px 3px var(--animationColor);
  }

  25% {
    box-shadow: 0px 0px 35px 3px var(--animationColor);
  }

 50% {
    box-shadow: 0px 0px 20px 3px var(--animationColor);
  }

  75% {
    box-shadow: 0px 0px 35px 3px var(--animationColor);
  }

  100% {
    box-shadow: 0px 0px 20px 3px var(--animationColor);
  }
}

figcaption {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  max-width: 300px;
}

.class-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.class-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 200px;
  background-color: var(--buttonColor);
  padding: 5px;
  outline: var(--borderColor) solid 1px;
  outline-offset: 3px;
  gap: 5px;
  line-height: 1.5rem;
  max-height: 100px;
  
}

.singleClasses {
  font-size: 0.9rem;
  color: var(--darkTextColor);
}

label:hover {
  color: var(--textColor);
  cursor: pointer;
  transition: color 0.25s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.1s ease-in-out;
}

input {
  margin:5px 3px 0 0;
}


