:root {
  --textColor: #f0e6d2;
  --buttonColor: #c8aa6e;
  --buttonHoverColor: #d3bb8b;
}

@font-face {
  font-family: League;
  src: url(/font/League.otf);
}

* {
  font-family: League, sans-serif;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#091428, #0a1428);
  margin: 0;
  padding: 0;
  color: var(--textColor);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

header {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.random-champion-btn {
  font-size: 1.125rem;
  font-family: Spiegel, sans-serif;
  text-transform: uppercase;
  color: black;
  background-color: var(--buttonColor);
  width: 200px;
  height: 50px;
  outline: rgb(255, 255, 255) solid 1px;
  outline-offset: 3px;
  font-weight: 400;
  transition: color 0.25s ease-in-out, background-color 0.3s ease-in-out;
  border: 0;
  margin: 0 auto;
}

.random-champion-btn:hover {
  background-color: var(--buttonHoverColor);
}

select {
  font-size: 1.125rem;
  font-family: Spiegel, sans-serif;
  text-transform: uppercase;
  color: black;
  background-color: var(--buttonColor);
  width: 200px;
  height: 50px;
  outline: rgb(255, 255, 255) solid 1px;
  outline-offset: 3px;
  font-weight: 400;
  transition: color 0.25s ease-in-out, background-color 0.3s ease-in-out;
  border: 0;
  margin: 0 auto;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:hover {
  background-color: var(--buttonHoverColor);
}

select option {
  font-size: 1.125rem;
  font-family: Spiegel, sans-serif;
  text-transform: uppercase;
  color: black;
  background-color: var(--buttonColor);
  width: 200px;
  height: 50px;
  outline: rgb(255, 255, 255) solid 1px;
  outline-offset: 3px;
  font-weight: 400;
  transition: color 0.25s ease-in-out, background-color 0.3s ease-in-out;
}
